.dropdown {

    width:200px;
    font-size: 30px;
}

.checkboxes {
    display: flex;
    width:100%;
}
.dropdown_content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: darkgrey;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:lightyellow;
}

.dropdown:hover .dropdown_content {
    display: flex;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.links {
    display:flex;
    
    font-style: italic;
    align-items: center;
    height: 80px;
}

.table {
    border: solid black;
    width: 90%;
}

.logo_e-mail {
    display: flex;
    height: 100px;
    justify-content: space-between;
    width: 90%;
    
}

.logo {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    width:200px;
}

.bar_graph {
    height:80px;
}

.email_image {
    height:30px;
    
}

.home_link {
    width:150px;
    font-size: 30px;
    padding-left: 40px;
    
}


.read_more {
    position: relative;
    right: 37%;
}

.copyright {
    height:20px;
}

.top_side {
    background-color: lightblue;
    width: 90%;
    border:solid;
}

.bottom_side {
    display: flex;
    border: solid;
    width: 90%;
    height: 80px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.text {
    display:flex;
    flex-direction: row;
}